
body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    color: rgb(77, 142, 158);
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #ffffff;
}

section {
    padding: 40px;
}

.project {
    margin-bottom: 20px;
}

.project img {
    max-width: 25%;
}

